.wrapper {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #1c1c1e;
}

#gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: calc(var(--width) * var(--cols));
}

.video-container {
  width: var(--width);
  height: var(--height);
}

.buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}